<div class="h-100 w-100 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <div
      class="spinner-border text-warning"
      role="status"
      [style.width]="spinnerSize"
      [style.height]="spinnerSize"
    >
      <span class="sr-only">Loading...</span>
    </div>
    <div
      *ngIf="text !== undefined"
      class="h5 py-4"
      [style.font-size]="textSize"
      [style.color]="textColor"
      [ngClass]="{ 'font-weight-bold': textBold }"
    >
      {{ text }}
    </div>
  </div>
</div>
