<div class="opacity-container">
  <div style="padding-top: 10vh">
    <div class="text-center font-weight-bold" style="font-size: 65px">
      {{ errorText }}
    </div>
    <div
      class="text-center d-flex align-items-center justify-content-center font-weight-bold"
    >
      <span class="mr-3" style="font-size: 25px">HTTP code:</span>
      <span class="text-danger" style="font-size: 65px">{{ errorCode }}</span>
    </div>
    <div class="text-center" style="height: 65vh; padding-top: 10%">
      <img
        src="assets/images/error_character.png"
        height="100%"
        alt="data-fetching-error-image"
      />
    </div>
  </div>
</div>
