@use '/src/app/shared/styles/styles-variables.scss' as shared-var;
@use '/src/app/shared/styles/styles-mixins.scss' as shared-mixins;

.custom-list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  margin: 0;
  max-height: 50vh;
}

.custom-list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: shared-var.$primary-accent-light;
}

.custom-list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: shared-var.$primary-color;
  border-color: shared-var.$primary-color;
}

.navbar-custom {
  background-color: shared-var.$primary-accent-light;
}

.input-custom:focus {
  @include shared-mixins.primary-focus-shadow;
}
