<nav
  class="navbar navbar-expand-lg sticky-top border border-secondary py-1 navbar-custom"
  [ngStyle]="{ 'height.px': navbarHeightPx }"
>
  <!-- CENTERED -->
  <div class="container py-4">
    <div class="navbar-brand mx-5 my-5">
      <img (click)="onLogoClick()" src="{{ LOGO_IMG_PATH }}" class="btn" />
    </div>
    <div class="w-100">
      <input
        [(ngModel)]="search"
        [typeahead]="searchSuggestions"
        [optionsListTemplate]="customListTemplate"
        [typeaheadMinLength]="0"
        typeaheadOptionField="suggestion"
        class="form-control bg-light input-custom"
        (typeaheadOnSelect)="onSearchSelect($event)"
      />
    </div>
  </div>
  <!-- /CENTERED -->
  <!-- FILTER BTN -->
  <div
    class="btn-group"
    [insideClick]="true"
    dropdown
    #accountDropdown="bs-dropdown"
  >
    <button
      id="button-animated"
      dropdownToggle
      type="button"
      class="btn btn-warning btn-group"
      aria-controls="dropdown-animated"
    >
      <i class="material-icons">filter_alt</i>
      <span class="caret dropdown-toggle"></span>
    </button>
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu"
      style="max-height: 50vh; overflow-y: auto; overflow-x: hidden;"
      aria-labelledby="button-animated"
    >
      <li *ngFor="let category of categories" role="menuitem">
        <div class="custom-control custom-checkbox mx-3 w-100">
          <input
            [id]="category.id"
            type="checkbox"
            [checked]="groupIsChecked(category)"
            (change)="categoryCheckedChange(category)"
            class="custom-control-input"
          />
          <label [for]="category.id" class="custom-control-label">
            {{ category.name | titlecase }}
          </label>

          <!-- AMENITIES -->
          <div *ngFor="let amenity of category.amenities" class="custom-control custom-checkbox ml-2">
            <input
            [id]="amenity.id"
            type="checkbox"
            class="custom-control-input"
            [checked]="amenity.checked"
            (change)="amenityCheckedChange(amenity)"
            />
            <label [for]="amenity.id" class="custom-control-label">
              {{ amenity.name | titlecase }}
            </label>
          </div>
          <!-- AMENITIES -->
        </div>
      </li>
    </ul>
  </div>
  <!-- /FILTER BTN -->
</nav>

<!-- TEMPLATES -->
<ng-template #searchItemTemplate let-suggestion="item" let-index="index">
  <h5 class="font-weight-bold">
    {{ suggestion.model.name }}
  </h5>
  <h5 class="text-secondary">
    {{ suggestion.model.city }}, {{ suggestion.model.street }},
    {{ suggestion.model.housenumber }}
  </h5>
</ng-template>

<ng-template
  #customListTemplate
  let-matches="matches"
  let-query="query"
  let-typeaheadTemplateMethods
>
  <ul class="custom-list-group" [class.dropdown-menu]="isBs3">
    <li
      class="custom-list-group-item"
      *ngFor="let match of matches"
      [class.active]="typeaheadTemplateMethods.isActive(match)"
      (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
      (mouseenter)="typeaheadTemplateMethods.selectActive(match)"
    >
      <h5 class="font-weight-bold btn py-0 my-0" style="font-size: 1.1em">
        {{ match.item.model.name }}
      </h5>
      <h5 class="text-secondary py-0 my-0 btn">
        {{ match.item.model.city }}, {{ match.item.model.street }},
        {{ match.item.model.housenumber }}
      </h5>
    </li>
  </ul>
</ng-template>
