<ng-container *ngIf="isMarkersFetchingError">
  <app-error-response-page-absolute
    [errorText]="markersFetchingErrorResponse.statusText"
    [errorCode]="markersFetchingErrorResponse.status"
  ></app-error-response-page-absolute>
</ng-container>
<app-navbar
  [categories]="placeCategories"
  [searchSuggestions]="searchSuggestions"
  (searchSuggestionChosen)="onSearchSuggestionChosen($event, markerDetails)"
  (logoClick)="onLogoClick()"
  [fieldsUsedInSearchSuggestions]="fieldsUsedInSearchSuggestions"
  (filterChange)="onFilterChange()"
></app-navbar>
<div
  class="container-fluid custom-map-container"
  [ngStyle]="{ height: mapHeightStyle }"
>
  <app-map
    (markerClick)="markerClickAction($event, markerDetails)"
    [categories]="placeCategories"
  ></app-map>
</div>

<ng-template #markerDetails>
  <app-marker-details [markerId]="chosenMarker._id"></app-marker-details>
</ng-template>
