<app-navbar
  [categories]="placeCategories"
  [searchSuggestions]="searchSuggestions"
  (searchSuggestionChosen)="onSearchSuggestionChosen($event, markerDetails)"
  (logoClick)="onLogoClick()"
  [fieldsUsedInSearchSuggestions]="fieldsUsedInSearchSuggestions"
  (filterChange)="onFilterChange()"
></app-navbar>
<div
  class="container-fluid custom-map-container"
  [ngStyle]="{ height: mapHeightStyle }"
>
  <app-map
    (markerClick)="markerClickAction($event, markerDetails)"
    [categories]="placeCategories"
  ></app-map>
</div>

<!-- TEMPLATES -->
<ng-template #markerDetails>
  <app-marker-details [marker]="chosenMarker"></app-marker-details>
</ng-template>
